/* ===== MENU / NAVBAR ===== */

header {
    background: linear-gradient(135deg, #ff914d, #ff7722);
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

/* Título */
header h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Barra do menu */
nav {
    background-color: white;
    max-width: 650px;
    margin: auto;
    padding: 12px 20px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Links do menu */
nav a {
    text-decoration: none;
    color: #ff914d;
    font-size: 1rem;
    font-weight: bold;

    padding: 10px 20px;
    border-radius: 30px;

    transition: all 0.3s ease;
}

/* Hover */
nav a:hover {
    background-color: #ff914d;
    color: white;
    transform: translateY(-2px);
}

/* Clique */
nav a:active {
    transform: scale(0.95);
}

/* Responsivo */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        border-radius: 20px;
        gap: 10px;
    }

    nav a {
        width: 100%;
        text-align: center;
    }

    header h1 {
        font-size: 2rem;
    }
}